@import "../../styles/variables";

.header {
  background: $headerbg;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 33.5px 0px 31.5px;
  z-index: 4;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    padding: 20px 0px;
  }
}

.header__wrapper {
  box-sizing: border-box;
  max-width: 1192px;
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.header__logo {
  margin: 0;
  color: $white;
  font-family: Raleway;
  font-size: 28px;
  font-weight: 800;
  span {
    color: $sky-blue-header;
  }

  @media (max-width: 767px) {
    text-align: center;
  }
}

.header__nav {
  max-width: 435px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav_link {
  color: $white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;

  &:first-of-type {
    color: $sky-blue-header;
  }

  &:hover {
    color: $hover-blue;
  }
}
